* {
    /* 清除内外边距 */
    margin: 0;
    padding: 0;
}

/* 设置高度 */
html,
body {
    height: 100%;
}

/* 去除滑动条并且不会失去滑动功能 */
body::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #181c27;
}

/* 设置头部 开始 */
header {
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-attachment: local;
    height: 70vh;
    width: 100%;
    text-align: center;
}

header>span {
    color: aqua;
    line-height: 70vh;
    font-size: 3vw;
    font-weight: bold;
    padding: 5px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.8);
}

/* 设置头部 结束 */


/* 内容 开始 */

/* 让内容居中 并给里面内容做相对定位  */
#body {
    width: 80%;
    margin: auto;
    position: relative;
}

/* 书写内容 */
.body {
    background-color: #252D38;
    width: 100%;
    color: aqua;
    border-radius: 15px;
    position: absolute;
    top: -15vh;
}

/* 设置内容 */
.body>p {
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 1.2rem;
}

/* 设置标题 */
.body>h2 {
    border-bottom: 1px solid #5f5f5f;
    color: darkorange;
    width: 80%;
    margin: auto;
}

/* 设置步骤 */
.body h3 {
    border-bottom: 1px solid #5f5f5f;
    color: rgb(230, 0, 134);
    width: 80%;
    margin: auto;
}

/* 设置图片 */
.body>a {
    margin: 15%;
}

.body img {
    width: 80%;
    display: block;
    margin: auto;
    background-color: aqua;
}

/* 设置特殊字符红色 */
.body b {
    color: red;
    word-break: break-all;
}

/* 设置显示代码 */
.body code {
    display: block;
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
    font-size: 2.1vh;
    overflow-x: scroll;
    overflow-y: hidden;
    border-radius: 15px;
}

/* 设置代码行号-来源于网络 */
.hljs-ln-numbers {
    text-align: center;
    color: rgb(246, 255, 0);
    border-right: 1px solid darkorange;
}

/* 时间 */
#shi-jian {
    margin-top: 80px;
    margin-bottom: 100px;
    padding: 10px 20px;
    border-radius: 10px;
    border-left: 10px solid yellow;
    font-size: 1.5rem;
    background-color: #696c71;
}

/* 底部 */
.bottom {

    width: 80%;
    padding-top: 20px;
    margin: auto;
    font-size: 2vw;
    color: rgb(0, 255, 94);
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    padding-top: 50px;
}

.bottom,
.body a {
    text-decoration: none;
    color: rgb(132, 255, 210);
    word-break: break-all;
}

a:hover {
    text-decoration: underline;
    color: yellow;
}

/* 内容 结束 */