/*清除所有标签内外边距*/
* {
	margin: 0;
	padding: 0;
}
/*让		height	百分比起作用*/
html,body {
	width: 100%;
	min-width: 1600px;
}
/*设置头部大小*/
header {
	width: 100%;
	height: 265px;
	background-image: url(https://pcsdata.baidu.com/thumbnail/e70251189n1f071d857b4e0ac66012a4?fid=1103225250322-16051585-534083933543888&rt=pr&sign=FDTAER-yUdy3dSFZ0SVxtzShv1zcMqd-J%2FmqWpuX2zJ3JkKZC5dUeup3v5k%3D&expires=2h&chkv=0&chkbd=0&chkpc=&dp-logid=9142324851936794700&dp-callid=0&time=1653548400&bus_no=26&size=c1600_u1600&quality=100&vuk=-&ft=video);
	background-size:100% 100%;
	background-attachment: fixed;
}
/*设置头部左侧*/
#head-left {
	width: 60%;
	height: 265px;
	float: left;
}
/*设置头部右侧*/
#head-right {
	width: 40%;
	height: 265px;
	float: right;
	background-color:#FFFFFF;
 	background-color:rgba(0,0,0,0.2);
 	font-size: 40px;
}
#head-right>li {
	height: 50px;
	color: #999999;
}
#head-right>li>b {
	color: yellow;
}
/*设置头部左侧上面div*/
#head-top {
	height: 189px;
	width: 100%;
}
/*头部左侧上半部文字*/
#headline-1 {
	font-size: 40px;
	font-weight: bolder;
	color: #FFFFFF;
	margin: 20px auto 0px 50px;
}
#headline-1>b {
	font-size: 60px;
	
}
#headline-2 {
	font-size: 30px;
	text-decoration: underline;
	margin: 10px auto auto 50px;
	font-weight: bold;
}
/*设置头部左侧下面div*/
#head-buttom {
	height: 106px;
	width: 100%;
}
/*导航栏*/
nav {
	text-align: center;
	width: 50%;
	height: 106px;
	float: left;
}
/*a标签设置*/
.a {
	display: block;
	width: 70px;
	height: 56px;
	text-decoration: none;
	line-height: 56px;
	text-align: center;
	color: yellow;
}
/*让指定li横向显示并居中*/
.li {
	font-size: 17px;
	/*margin: auto 15px;*/
	display: inline-block;
	background-color:#000000;
 	background-color:rgba(0,0,0,0.3)
}
/*搜索框*/
#search {
	width: 49%;
	height: 56px;
	float: right;
	border: 1px solid aqua;
	line-height: 56px;
	text-align: center;
	font-size: 40px;
}
